:root {
    font-family: 'Pacifico', cursive;
    box-sizing: border-box;
    --black: black;
    --pink: #ff637d;
    --light_yellow: #f4f1bb;
    --celeste: #66D7D1;
    --white: #EAF2E3;
    --yellow: #fff87f;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
}


